sudo: required
language: node_js
node_js: "8"

jobs:
  include:
    - cache:
      directories:
      - node_modules
      - release-builds
      - $HOME/.cache/electron
      - $HOME/.cache/electron-builder
    - stage: Lint
      script: npm run lint
    - stage: Test
    - stage: Coverage
      script: npm run coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage

    - stage: Release desktop application
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

      before_cache:
        - rm -rf $HOME/.cache/electron-builder/wine
      script:
        - |
          if [ "$TRAVIS_OS_NAME" == "linux" ]; then
            docker run --rm \
              --env-file <(env | grep -iE 'DEBUG|NODE_|ELECTRON_|YARN_|NPM_|CI|CIRCLE|TRAVIS|APPVEYOR_|CSC_|_TOKEN|_KEY|AWS_|STRIP|BUILD_') \
              -v ${PWD}:/project \
              -v ~/.cache/electron:/root/.cache/electron \
              -v ~/.cache/electron-builder:/root/.cache/electron-builder \
              electronuserland/builder:wine \
              /bin/bash -c "yarn --link-duplicates --pure-lockfile && yarn dist -mwl"
          else
            :
          fi
      deploy:
        provider: releases
        api_key: $GH_TOKEN
        file_glob: true
        file: release-builds/*
        skip_cleanup: true
        overwrite: true
        on:
          tags: true

    - stage: Build and push image
      services:
        - docker
      install: skip
      before_script:
        - docker build -t tomochain/tomomaster .
      script:
        - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
        - docker tag tomochain/tomomaster tomochain/tomomaster:latest
        - docker push tomochain/tomomaster:latest
        - docker tag tomochain/tomomaster tomochain/tomomaster:$TRAVIS_BUILD_ID
        - docker push tomochain/tomomaster:$TRAVIS_BUILD_ID
      after_success:
        - curl -X POST $INFRA_IMAGE_REBUILD_HOOK

    - stage: Build and push image (tagged)
      services:
        - docker
      install: skip
      before_script:
        - docker build -t tomochain/tomomaster .
      script:
        - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
        - docker tag tomochain/tomomaster tomochain/tomomaster:latest
        - docker push tomochain/tomomaster:latest
        - docker tag tomochain/tomomaster tomochain/tomomaster:testnet
        - docker push tomochain/tomomaster:testnet
        - docker tag tomochain/tomomaster tomochain/tomomaster:$TRAVIS_TAG
        - docker push tomochain/tomomaster:$TRAVIS_TAG
      after_success:
        - curl -X POST $INFRA_IMAGE_REBUILD_HOOK

stages:
  - name: Lint
  - name: Test
  - name: Coverage
  - name: Build and push image
    if: type != pull_request AND branch = master AND tag IS blank AND repo = tomochain/tomomaster
  - name: Build and push image (tagged)
    if: type != pull_request AND branch = master AND tag = true AND repo = tomochain/tomomaster
  - name: Release desktop application
    if: type != pull_request AND branch =~ ^v AND tag IS present AND repo = tomochain/tomomaster
