@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-bold.eot');
    src: url('../fonts/SFPro/sf-pro-text-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-bold.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-bold.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-bold.svg#sf_pro_textbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-heavy.eot');
    src: url('../fonts/SFPro/sf-pro-text-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-heavy.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-heavy.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-heavy.svg#sf_pro_textheavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-light.eot');
    src: url('../fonts/SFPro/sf-pro-text-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-light.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-light.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-light.svg#sf_pro_textlight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-medium.eot');
    src: url('../fonts/SFPro/sf-pro-text-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-medium.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-medium.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-medium.svg#sf_pro_textmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-regular.eot');
    src: url('../fonts/SFPro/sf-pro-text-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-regular.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-regular.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-regular.svg#sf_pro_textregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFPro/sf-pro-text-semibold.eot');
    src: url('../fonts/SFPro/sf-pro-text-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SFPro/sf-pro-text-semibold.woff') format('woff'),
         url('../fonts/SFPro/sf-pro-text-semibold.ttf') format('truetype'),
         url('../fonts/SFPro/sf-pro-text-semibold.svg#sf_pro_textsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'tomomaster';
    src:  url('../fonts/tomomaster/tomomaster.eot?f5hktn');
    src:  url('../fonts/tomomaster/tomomaster.eot?f5hktn#iefix') format('embedded-opentype'),
        url('../fonts/tomomaster/tomomaster.ttf?f5hktn') format('truetype'),
        url('../fonts/tomomaster/tomomaster.woff?f5hktn') format('woff'),
        url('../fonts/tomomaster/tomomaster.svg?f5hktn#tomomaster') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="tm-"], [class*=" tm-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'tomomaster' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.tm-edit:before {
    content: "\e91b";
}
.tm-arrow-up:before {
    content: "\e900";
}
.tm-bolt:before {
    content: "\e901";
}
.tm-cog:before {
    content: "\e902";
}
.tm-cpu:before {
    content: "\e903";
}
.tm-email:before {
    content: "\e904";
}
.tm-eye:before {
    content: "\e905";
}
.tm-flag:before {
    content: "\e906";
}
.tm-github:before {
    content: "\e907";
}
.tm-linkedin:before {
    content: "\e908";
}
.tm-memory:before {
    content: "\e909";
}
.tm-search:before {
    content: "\e90a";
}
.tm-time:before {
    content: "\e90b";
}
.tm-tomo:before {
    content: "\e90c";
}
.tm-lock:before {
    content: "\e90d";
}
.tm-wallet:before {
    content: "\e90e";
}
.tm-notice:before {
    content: "\e90f";
}
.tm-close:before {
    content: "\e910";
}
.tm-profile:before {
    content: "\e911";
}
.tm-checkmark:before {
    content: "\e912";
}
.tm-dot:before {
    content: "\e913";
}
.tm-chevrons-left:before {
    content: "\e914";
}
.tm-chevron-left:before {
    content: "\e915";
}
.tm-chevrons-right:before {
    content: "\e916";
}
.tm-chevron-right:before {
    content: "\e917";
}
.tm-signer:before {
    content: "\e918";
}
.tm-dots:before {
    content: "\e919";
}
.tm-gift:before {
    content: "\e99f";
}
.tm-facebook:before {
    content: "\ea90";
}
.tm-telegram:before {
    content: "\ea95";
}
.tm-twitter:before {
    content: "\ea96";
}
.tm-reddit:before {
    content: "\e91a";
}
.tm-lifebuoy:before {
  content: "\e941";
}
.tm-checklist:before {
    content: "\ea97";
}
.tm-bell:before {
    content: "\e93c";
}
.tm-website:before {
    content: "\e91c";
}
.tm-tomo2:before {
    content: "\e91d";
}