/* Grid breakpoints
   ========================================================================== */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1920px
) !default;

/* Fonts
   ========================================================================== */
$global-font: 'SFProText', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$global-font-size: 16px;

/* Colors
   ========================================================================== */
$color-body-bg: #1E1E1E;
$color-primary: #363636;
$color-input-bg: #292929;
$color-input-focus-bg: #292929;
$color-btn-bg: #E0DED8;
$color-btn-hover-bg: #739DFF;
$color-border: #424242;

$color-text: #f5f5f5;
$color-text-2: #949494;
$color-text-muted: #62618a;
$color-text-highlight: #949494;
$color-link: #C4BFB5;
$color-link-hover: #C4BFB5;

$color-white: #cfcde1;
$color-pink: #fb6d9c;
$color-yellow: #fad37d;
$color-purple: #c584f9;
$color-orange: #e68a86;
$color-success: #30ddd8;
$color-error: #fb6d9c;

