/* Grid breakpoints
   ========================================================================== */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1920px
) !default;

/* Fonts
   ========================================================================== */
$global-font: 'SFProText', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$global-font-size: 16px;

/* Colors
   ========================================================================== */
$color-body-bg: #0E0924;
$color-primary: #14255C;
$color-input-bg: #141747;
$color-input-focus-bg: #140E38;
$color-btn-bg: #E94082;
$color-btn-hover-bg: #EC5994;

$color-text: #7573a6;
$color-text-2: #2b2f36;
$color-text-muted: #72719B;
$color-text-highlight: #C91659;
$color-link: #F13E81;
$color-link-hover: #F782AD;

$color-white: #cfcde1;
$color-pink: #fb6d9c;
$color-yellow: #fad37d;
$color-purple: #c584f9;
$color-orange: #e68a86;
$color-success: #30ddd8;
$color-error: #fb6d9c;