.tomo-chip {
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    padding: 10px 20px;

    &--primary {
        color: $color-white;
        background-color: $color-text;
    }

    &--accent {
        background-color: $color-pink;
    }

    &--purple {
        background-color: $color-purple;
    }

    &--masternode {
        padding: 10px 9px;
    }

    @include media-breakpoint-up(lg) {

        &--primary {
            color: #7473a6;
            background-color: #323258;
        }
    }
}