.tomo-footer {
  margin-bottom: 20px;

  a {
    color: $color-link;
  }

  a:hover {
    color: $color-link;
  }

  &__copyright {
    margin-bottom: 1rem;

    a {
      color: $color-text-2;
    }
  }

  &__social {
    font-size: 18px;
  }

  &__links {
    margin-top: 1rem;
    .list-inline-item{
      text-transform: uppercase;
      color: $color-text;
      border-bottom: 1px solid $color-border;
      padding-bottom: 4px;
      a{
        color: $color-text;
      }
    }
  }

  @include media-breakpoint-up(md) {

    > .container > .row {
      align-items: center;
    }

    &__copyright {
      margin-bottom: 0.5rem;
    }

    &__social {
      text-align: right;
      font-size: 20px;
    }
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  a {
    color: #3498db;
    margin-top: 5px;
  }
}

.footer-center {
  text-align: center;
}
