.tomo-list {

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 48px;
        padding: 5px 0;
        margin-bottom: 15px;

        button {
            width: 120px;
        }
    }

    &__icon {
        width: 24px;
        min-width: 24px;
        height: 24px;
        font-size: 24px;
        margin-right: 20px;
        color: $color-text-muted;
    }

    &__text {
        flex: 1;
        overflow: hidden;
        margin: 0;

        > * {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        :nth-child(2) {
            font-size: 12px;
            color: $color-text-muted;
            margin-top: 5px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__icon {
            margin-right: 32px;
        }
    }
}