.tomo-list {

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 48px;
        padding: 5px 0;
    }

    &__icon {
        width: 24px;
        min-width: 24px;
        height: 24px;
        font-size: 24px;
        margin-right: 20px;
    }

    &__text {
        flex: 1;
        overflow: hidden;
    }

    @include media-breakpoint-up(lg) {
        &__icon {
            margin-right: 32px;
        }
    }
}