.navbar {
    background-image: linear-gradient(-135deg, #373658 0%, #40406a 100%);

    &.navbar-light {
        padding-top: 4px;
    }

    > .container {
        align-items: center;
        padding: 0;
    }
}

.navbar-brand {
    font-size:16px;
    font-weight: 600;
    color:#e7e3f5 !important;
}

.navbar-buttons {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 7px;
    button {
        display: inline-flex;
        vertical-align: middle;
    }

    > a {
        display: inline-block;
        vertical-align: middle;
    }

    @include media-breakpoint-up(md) {
        width: auto;
    }
}

#btn-become-candidate {
    font-size: 12px;
    font-weight: 500;
    border-radius: 100px;
    background-color: $color-btn-bg;

    &.btn:hover,
    &.btn:focus {
        box-shadow: none;
        border-color: $color-btn-hover-bg;
        background-color: $color-btn-hover-bg;
    }
    
}

#btn-setting {
    font-size: 0;
    width: 20px;

    i {
        display: inline-block;
        font-size: 18px;
        color: #678be0;

        @extend %transit;
    }

    &:hover i {
        color: $color-link !important;
        transform: rotate(45deg);
    }
}

.dd-setting {
    font-size: 0;
    width: 20px;

    i {
        display: inline-block;
        font-size: 18px;
        color: #678be0;

        @extend %transit;
    }

    &:hover i {
        color: $color-link !important;
        transform: rotate(45deg);
    }
    button {
        background: none;
        border: none;
        padding: 0;
        &:hover {
            background: none;
            border-color: none;
        }
        &:focus {
            background: none;
            border-color: none;
        }
    }
}

.masternode-bar {
    a {
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: #30ddd8 !important;
        }
    }
    a.tab-active {
        color: #30ddd8;
    }
}

.dd-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;

    &:after {
        position: absolute;
        left: 100%;
        top: 0;
    }

    @include media-breakpoint-only(sm) {
        .text-truncate {
            max-width: 15rem;
        }
    }
}
// add more to vue dropdown bootstrap
.dropdown-menu {
    margin-top: 17px;
}
