.navbar {
    background-image: linear-gradient(-135deg, #373658 0%, #40406a 100%);
}

.navbar-brand {
    font-size:16px;
    font-weight: 600;
    color:#e7e3f5 !important;
}

#btn-become-candidate {
    font-size: 12px;
    font-weight: 500;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 7px;
    background-color: $color-btn-bg;

    &.btn:hover,
    &.btn:focus {
        box-shadow: none;
        border-color: $color-btn-hover-bg;
        background-color: $color-btn-hover-bg;
    }
}
