.navbar {
    background-image: linear-gradient(-135deg, #373658 0%, #40406a 100%);

    &.navbar-light {
        padding-top: 4px;
    }

    > .container {
        align-items: center;
        padding: 0;
    }
    &.navbar-expand {
        flex-flow: inherit;
    }
}

.navbar-brand {
    font-size:16px;
    font-weight: 600;
    color:#e7e3f5 !important;
}

.navbar-buttons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 7px;
    button {
        line-height: 1;
        display: inline-flex;
        vertical-align: middle;
    }

    > a {
        display: inline-block;
        vertical-align: middle;
    }

    @include media-breakpoint-up(md) {
        width: auto;
    }
}

#btn-become-candidate {
    font-size: 12px;
    font-weight: 500;
    border-radius: 100px;
    background-color: $color-btn-bg;

    &.btn:hover,
    &.btn:focus {
        box-shadow: none;
        border-color: $color-btn-hover-bg;
        background-color: $color-btn-hover-bg;
    }
    
}
.btn-menu-sp {
    border: 0!important;
    background: transparent!important;
    &:active,
    &:focus {
        border: 0!important;
        background: transparent!important;
        outline: none!important;
        &:focus {
            border: 0!important;
            background: transparent!important;
            outline: none!important;
        }
    }
}
#btn-setting {
    font-size: 0;
    width: 20px;

    i {
        display: inline-block;
        font-size: 18px;
        color: #678be0;

        @extend %transit;
    }

    &:hover i {
        color: $color-link !important;
        transform: rotate(45deg);
    }
}

.dd-setting {
    i {
        display: inline-block;
        font-size: 18px;
        color: #678be0;

        @extend %transit;
    }

    &:hover i {
        color: $color-link !important;
        transform: rotate(45deg);
    }
    button {
        border: none;
        padding: 0;
        padding-right: 0.75rem !important;
        background: none!important;
        &:hover {
            background: none!important;
            border-color: none;
            text-decoration: none;
        }
        &:focus {
            background: none!important;
            border-color: none;
            text-decoration: none;
        }
        &:active {
            background: none!important;
            text-decoration: none;
            &:focus { 
                background: none!important;
            }
        }
    }
}

.masternode-bar,
.candidate-reward-bar {
    a {
        text-align: center;
        text-decoration: none;
        white-space: pre-wrap;
        cursor: pointer;

        &:hover {
            color: #F782AD !important;
        }
    }
    a.tab-active {
        color: #F782AD;
    }
}

.dd-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;

    &:after {
        position: absolute;
        left: 100%;
        top: 0;
    }

    @include media-breakpoint-only(sm) {
        .text-truncate {
            max-width: 15rem;
        }
    }
}
// add more to vue dropdown bootstrap
.dropdown-menu {
    margin-top: 17px;
}