.notification_header {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 320px;
    max-width: 500px;
}
.notification_body {
    max-height: 250px;
    overflow: auto;
    font-size: 14px;

    a {
        font-weight: bold;
        color: darkslategrey;
    }

    &__content {
        font-size: 13px !important;
    }
    &__time {
        font-size: 12px !important;
    }
    &__empty {
        text-align: center;
    }
}

.notification_bottom {
    text-align: center;
    color: #216ba5;
}


.notification__bell {
    position: absolute;
    top: -25%;
    left: 30%;
    @include media-breakpoint-down(sm) {
        top: -25% !important;
        left: 30% !important;
    }
}

.readAllBtn {
    color: #7573a6;

    &:hover {
        color: #7573a6;
        text-decoration: underline !important; 
    }
}

.notification_label {
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
}

.slashed {
    background: rgb(240, 159, 9);
    color: rgb(255, 255, 255) !important;
}
.proposed,
.withdraw {
    background: #678be0;
}
.outtop {
    background: rgb(255, 217, 0);
    color: black !important;
}
.resigned {
    background: rgb(190, 0, 0);
}

.masternode-name {
    color: #7573a6;

    &:hover {
        color: #7573a6;
        text-decoration: underline !important; 
    }
}