.search-form {
    position: relative;
    width: 100%;
    margin-top: 5px;

    input.form-control {
        border-radius: 100px;
        padding: 4px 70px 4px 20px;
    }

    .btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0;
        font-weight: 400;
        width: 50px;
        height: 100%;
        border-radius: 100px;
        color: #fff;
        border-color: $color-btn-bg;
        background-color: $color-btn-bg;

        &:before {
            content: '\e90a';
            font-size: 12px;

            @extend %tm-icon;
        }
    }

    @include media-breakpoint-up(sm) {

        width: auto;

        input.form-control {
            margin-right: 15px;
            padding-right: 20px;
        }

        .btn {
            position: relative;
            width: auto;
            height: auto;
            font-size: 14px;
            color: #aca9c4;
            background-color: transparent;

            &:before {
                margin-right: 10px;
            }

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                border-color: $color-btn-hover-bg;
                background-color: $color-btn-hover-bg;
            }
        }
    }

    @include media-breakpoint-up(md) {

        input.form-control {
            width: 220px;
        }
    }

    @include media-breakpoint-up(lg) {

        input.form-control {
            width: 350px;
            margin-right: 25px;
        }
    }

    @include media-breakpoint-up(xl) {

        input.form-control {
            width: 400px;
        }
    }
}

.autocomplete {
    position: relative;
  }
  
  .autocomplete-results {
    position: absolute;
    list-style: none;
    padding-left: 1px;
    overflow: auto;
    width: 100%;
    max-height: 150px;
    margin-top: 8px;
    z-index: 9;
    border-radius: 10px;
    background: #373658;
    box-shadow: #7573a6 0 px 0 px 5 px;

    @include media-breakpoint-up(sm) {

        width: auto;

        input.form-control {
            margin-right: 15px;
            padding-right: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        width: 220px;
    }

    @include media-breakpoint-up(lg) {
        width: 350px;

        input.form-control {
            width: 350px;
            margin-right: 25px;
        }
    }

    @include media-breakpoint-up(xl) {
        width: 400px;
        input.form-control {
            width: 400px;
        }
    }
  }
  
  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
    color: #7573a6
  }
  
  .autocomplete-result.is-active,
  .autocomplete-result:hover {
    background-color: #4aae9b;
    color: white;
  }