.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    font-weight: 200;
    color: #cfcde1;
    text-align: left;
    margin-bottom: 40px;

    i[class^="tm-"] {
        font-size: 17px;
        margin-right: 10px;
    }
}